@model IEnumerable<ScheduleCreator.Models.Section>

@{
    ViewBag.Title = "Sections";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.crn)
        </th>
        <th>
            Course
        </th>
        <th>
            Clasroom
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Instructor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Semester)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.daysTaught)
        </th>
        <th>
            Time
        </th>
        <th>
            @Html.DisplayNameFor(model => model.block)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.courseType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sectionCapacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.creditLoad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.creditOverload)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comments)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.crn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.coursePrefix) @Html.DisplayFor(modelItem => item.courseNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.buildingPrefix) @Html.DisplayFor(modelItem => item.roomNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instructor.instructorLastName), @Html.DisplayFor(modelItem => item.Instructor.instructorFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.semesterType) @Html.DisplayFor(modelItem => item.semesterYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.daysTaught)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.courseStartTime) - @Html.DisplayFor(modelItem => item.courseEndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.block)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.courseType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pay)
            </td>
            <td>
                Capacity
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.creditLoad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.creditOverload)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.comments)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.section_id }) |
                @Html.ActionLink("Details", "Details", new { id = item.section_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.section_id })
            </td>
        </tr>
    }

</table>
