@model IEnumerable<ScheduleCreator.Models.Classroom>

@{
    ViewBag.Title = "Classrooms";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { data_target = "#modal-container", data_toggle = "modal" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.buildingPrefix)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.roomNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.classroomCapacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.computers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.availableFromTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.availableToTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Building.buildingPrefix)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.buildingPrefix)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.roomNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.classroomCapacity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.computers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.availableFromTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.availableToTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Building.buildingPrefix)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.classroom_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.classroom_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.classroom_id })
        </td>
    </tr>
}

</table>

<div id="modal-container" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/Scripts/clear-modal.js")
}
