@model IEnumerable<ScheduleCreator.Models.Classroom>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table border="1">
@foreach (var classroom in Model) {

    <tr>
        <td>
            @Html.DisplayFor(modelItem => classroom.buildingPrefix) @Html.DisplayFor(modelItem =>classroom.roomNumber)
        </td>
        
    </tr>
    
        foreach (var section in classroom.Sections)
        {
            <tr>
                <td>
                    @Html.DisplayFor(sectionItem => section.daysTaught)
                </td>
                @if (section.daysTaught == "MW")
                {
                <td> @Html.DisplayFor(sectionItem => section.coursePrefix) @Html.DisplayFor(sectionitem => section.courseNumber)
                </td>
                }

                @if (section.daysTaught == "TR"){
                <td>
                    @Html.DisplayFor(sectionItem => section.coursePrefix) @Html.DisplayFor(sectionitem => section.courseNumber)
                </td>
                }
                @if (section.daysTaught == "MWF")
                {
                    <td>
                        @Html.DisplayFor(sectionItem => section.coursePrefix) @Html.DisplayFor(sectionItem => section.courseNumber)
                    </td>
                }
            </tr>
        }

}

</table>
