@model IEnumerable<ScheduleCreator.Models.Instructor>

@{
    ViewBag.Title = "Instructor Calendar";
}
<link rel="stylesheet" type="text/css" href="~/Content/easycal.css">
<script type="text/javascript" src="~/Content/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/underscore.min.js"></script>
<script type="text/javascript" src="~/Content/moment.min.js"></script>
<script type="text/javascript" src="~/Content/easycal.js"></script>

<h2>Instructor Calendar</h2>

<div class="col-lg-2" id="calendar-nav">


    @foreach (var Instructor in Model)
    {
        if (true)
        {
            <input type="radio" name="instructor" value="@Instructor.instructor_id" onclick="showCalendar(this.value)"/> @(Instructor.instructorLastName + ", " + Instructor.instructorFirstName)<br />
        }
    }
</div>
<div class="col-lg-10">

    @foreach (var Instructor in Model)
    {
    <div id="myCal-@Instructor.instructor_id" class="myCal-@Instructor.instructor_id myCal" style="width:100%; display:none;"></div>
    }


    <script>
        @foreach (var Instructor in Model) {
            <text>
        var temp = $('.myCal-@Instructor.instructor_id');
        temp.easycal({
            startDate: '01-01-1900', // OR 31/10/2104
            timeFormat: 'hh:mm a',
            columnDateFormat: 'ddd',
            minTime: '06:00:00',
            maxTime: '23:00:00',
            slotDuration: 30,
            timeGranularity: 15,

            dayClick: function(el, startTime) {
                //alert('Slot selected: ' + startTime);
            },
            eventClick: function(eventId) {
                window.location = '../Sections/Edit/'+eventId;
            },

            events: GenerateEvents(@Instructor.instructor_id),

            overlapColor: '#F00',
            overlapTextColor: '#FFF',
            overlapTitle: 'Multiple'
        });
        </text>
        }

        function GenerateEvents(n)
        {
            var myArray = [];
            var temp;
            @foreach (var Instructor in Model)
            {
        <text>


            if(n == @Instructor.instructor_id.ToString())
            {
                </text>
                try
                {
                    foreach (var Section in Instructor.Sections)
                    {
                        if (Section.daysTaught != null)
                        {
                            foreach (char day in Section.daysTaught)
                            {
                                string daysToAdd = "0";
                                switch (day)
                                {
                                    case 'm':
                                    case 'M':
                                        daysToAdd = "1";
                                        break;
                                    case 't':
                                    case 'T':
                                        daysToAdd = "2";
                                        break;
                                    case 'w':
                                    case 'W':
                                        daysToAdd = "3";
                                        break;
                                    case 'r':
                                    case 'R':
                                        daysToAdd = "4";
                                        break;
                                    case 'f':
                                    case 'F':
                                        daysToAdd = "5";
                                        break;
                                    case 's':
                                    case 'S':
                                        daysToAdd = "6";
                                        break;
                                }
                                string date = "0" + daysToAdd + "-01-1900";
                                string startTime = Section.courseStartTime.ToString();
                                string endTime = Section.courseEndTime.ToString();
                                startTime = date + " " + startTime;
                                endTime = date + " " + endTime;
                <text>
                    temp = {

                            id: '@Section.section_id',
                title: '@Section.coursePrefix @Section.courseNumber',
                start: '@startTime',
                end: '@endTime',
                backgroundColor: '#492365',
                textColor: '#FFF'

            }
                        myArray.push(temp);
            </text>
                        }
                    }
                }
                }
                catch(System.Data.ConstraintException e)
            {

            }
        <text>
        }
        </text>


    }
        return myArray;
        }

        function showCalendar(id)
        {
            var name = "myCal-"+id;
            $(".myCal").hide();
            document.getElementById(name).style.display = "block";
        }
    </script>
</div>
