@model IEnumerable<ScheduleCreator.Models.Instructor>

@{
    ViewBag.Title = "Instructor Calendar";
}

@Styles.Render("~/Content/easycal.css")

@Scripts.Render("~/Scripts/underscore.min.js")
@Scripts.Render("~/Scripts/moment.min.js")
@Scripts.Render("~/Scripts/easycal.js")

<div class="container" style="vertical-align:central; margin:5px;">
    <div class="col-lg-4 col-md-5">
        <h2>@ViewBag.Title</h2>
    </div>

    <div class="col-lg-4 col-md-5 col-md-offset-2 col-lg-offset-4">
        <h4 style="text-align:center">Select Semester</h4>
        <select onChange="window.location.assign(this.value)" class="form-control" style="float:right">

            @foreach (ScheduleCreator.Models.Semester s in ViewBag.semesterList)
            {
                if (s == ViewBag.CurrentSemester)
                {
                    <option value=@Url.Action("InstructorCalendar", "Instructors", new { id = s.semester_id }) selected="selected">@s.semesterType @s.semesterYear</option>
                }
                else
                {
                    <option value=@Url.Action("InstructorCalendar", "Instructors", new { id = s.semester_id })>@s.semesterType @s.semesterYear</option>
                }
            }
        </select>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div >
            @Html.DropDownList("instructor_id", null, htmlAttributes: new { id = "cal1-nav", @class = "form-control", onclick = "showCalendar('cal', this.value)" })
        </div>
        <div class="col-lg-10" style="max-height: 400px; overflow-y: auto">

            @foreach (var Instructor in Model)
            {
                <div id="cal-@Instructor.instructor_id" class="@Instructor.instructor_id" style="width:100%; display:none;"></div>
            }
        </div>
    </div>
    <br />
    <div class="row">
        <div >
            @Html.DropDownList("instructor_id", null, htmlAttributes: new { id = "cal2-nav", @class = "form-control", onclick = "showCalendar('cal2', this.value)" })
        </div>
        <div class="col-lg-10" style="max-height: 400px; overflow-y: auto">

            @foreach (var Instructor in Model)
            {
                <div id="cal2-@Instructor.instructor_id" class="@Instructor.instructor_id" style="width:100%; display:none;"></div>
            }
        </div>
    </div>
</div>
<script>

@foreach (var Instructor in Model) {
<text>
    var temp = $('.@Instructor.instructor_id');
    var eventObjects = @Html.Raw(ViewBag.instructorEvents[@Instructor.instructor_id]);
    temp = generateCalendars(eventObjects);
    </text>
}
    showCalendar("cal", @Model.ElementAt(0).instructor_id)
    showCalendar("cal2", @Model.ElementAt(1).instructor_id)
    $("#cal2-nav").val("@Model.ElementAt(1).instructor_id")

    function generateCalendars(eventObjects){
        return temp.easycal({
            startDate: '01-01-1900', // OR 31/10/2104
            timeFormat: 'hh:mm a',
            columnDateFormat: 'ddd',
            minTime: '06:00:00',
            maxTime: '23:00:00',
            slotDuration: 30,
            timeGranularity: 15,

            dayClick: function(el, startTime) {
                //alert('Slot selected: ' + startTime);
            },

            eventClick: function(eventId) {
                window.location = "@Url.Action("Edit", "Sections")/" + eventId;
            },

            events: eventObjects,

            overlapColor: '#F00',
            overlapTextColor: '#FFF',
            overlapTitle: 'Multiple'
        });
    }

    var lastCal;
    var lastCal2;
    function showCalendar(cal, instId)
    {
        var name = cal + "-" + instId;
        if (cal == 'cal'){
            $("#" + lastCal).hide();
            lastCal = name;
        }
        else{
            $("#" + lastCal2).hide();
            lastCal2 = name;
        }
        document.getElementById(name).style.display = "block";
    }

</script>
