@model IEnumerable<ScheduleCreator.Models.Instructor>

@{
    ViewBag.Title = "Semester Schedule";
}
<script type="text/javascript">
    function printData()
    {
        var divToPrint = document.getElementById("SemesterSchedule");
        newWin = window.open("");
        newWin.document.write(divToPrint.outerHTML);
        newWin.print();
        newWin.close();
    }
   
    $('button').on('click', function(){
        printData();
    } )
</script>

<div class="container" style="vertical-align:central; margin:5px;">
    <div class="col-lg-4 col-md-5">
        <h2>@ViewBag.Title</h2>
    </div>

    <div class="col-lg-4 col-md-5 col-md-offset-2 col-lg-offset-4">
        <h4 style="text-align:center">Select Semester</h4>
        <select onChange="window.location.assign(this.value)" class="form-control" style="float:right">

            @foreach (ScheduleCreator.Models.Semester s in ViewBag.semesterList)
            {
                if (s == ViewBag.CurrentSemester)
                {
                    <option value=@Url.Action("SemesterSchedule", "Instructors", new { id = s.semester_id }) selected="selected">@s.semesterType @s.semesterYear</option>
                }
                else
                {
                    <option value=@Url.Action("SemesterSchedule", "Instructors", new { id = s.semester_id })>@s.semesterType @s.semesterYear</option>
                }
            }
        </select>
    </div>
</div>



<div>
    <input type="button" onclick="javascript:printData()" value="Print"/>
</div>
<br/>
<table id="SemesterSchedule" class="table table-hover " border="1" >
    <tr bgcolor="#778899">
        <th>
            Instructor
        </th>
        <th>
            Course
        </th>
        <th>
            CRN
        </th>
        <th>
            Hours
        </th>
        <th>
            Days
        </th>
        <th>
            Room
        </th>
        <th>
            Max
        </th>
        <th>
            Credit Hours
        </th>
        <th>
            Campus
        </th>
        <th>
            Pay
        </th>
        <th>
            Load/Overload
        </th>
        <th>
            Hours Required
        </th>
    </tr>

    @foreach (var instructor in Model)
    {
        <tr BGCOLOR="D3D3D3">
            <td colspan="11">
                <strong> @Html.DisplayFor(modelItem => instructor.instructorLastName), @Html.DisplayFor(modelItem => instructor.instructorFirstName)</strong>
            </td>
            <td>
                @Html.DisplayFor(modelItem => instructor.hoursRequired)
            </td>
        </tr>
        foreach (var section in instructor.Sections)
        {
            <tr>
                <td>
                    @Html.ActionLink("Edit Section", "Edit", "Sections", new { @id = section.section_id }, null)
                </td>
                <td>
                    <a href="../Courses/Edit/@Html.DisplayFor(sectionItem => section.Course.course_id)">@Html.DisplayFor(sectionItem => section.coursePrefix)@Html.DisplayFor(sectionItem => section.courseNumber)</a>
                </td>
                <td>
                    @Html.DisplayFor(sectionItem => section.crn)
                </td>
                <td>
                    @if (section.courseStartTime != null && section.courseEndTime != null)
                    {
                        <text>
                            @(((DateTime)section.courseStartTime).ToString("hh:MM tt")) - @(((DateTime)section.courseEndTime).ToString("hh:MM tt"))
                        </text>
                    }
                </td>
                <td>
                    @Html.DisplayFor(sectionItem => section.daysTaught)
                </td>
                <td>
                    @Html.DisplayFor(sectionItem => section.buildingPrefix)-@Html.DisplayFor(sectionItem => section.roomNumber)
                </td>
                <td>
                    @Html.DisplayFor(sectionItem => section.sectionCapacity)
                </td>
                <td>
                    @Html.DisplayFor(sectionItem => section.Course.defaultCredits)
                </td>
                <td>
                    @Html.DisplayFor(sectionItem => section.Classroom.Building.campusPrefix)
                </td>
                <td>
                    @Html.DisplayFor(sectionItem => section.pay)
                </td>
                <td>
                    @Html.DisplayFor(sectionItem => section.creditLoad) / @Html.DisplayFor(sectionItem => section.creditOverload)
                </td>
                <td></td>
            </tr>
        }
        <tr>
            @foreach(var release in instructor.InstructorReleases)
            {
                <td>Release Hours</td>
                <td colspan="12">@release.releaseDescription -- @release.totalReleaseHours Units Release</td>
            }
        </tr>

    }

</table>

