@model ScheduleCreator.Models.InstructorDepartment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>InstructorDepartment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.departmentPrefix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.departmentPrefix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.instructorWNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.instructorWNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department.departmentPrefix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.departmentPrefix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Instructor.instructorWNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instructor.instructorWNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.instructorDepartment_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
