@model IEnumerable<ScheduleCreator.Models.InstructorProgram>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.programPrefix)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.instructorWNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Program.programPrefix)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Instructor.instructorWNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.programPrefix)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.instructorWNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Program.programPrefix)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Instructor.instructorWNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.instructorProgram_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.instructorProgram_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.instructorProgram_id })
        </td>
    </tr>
}

</table>
